body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: pink;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
    width: 300px;
}

h1 {
    margin: 0 0 20px;
    text-align: center;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background: red;
}